.txtDec {
    text-decoration: none;
}
label {
    color: gray;
}

.fkNav {
    height: 60px;
}

@media screen and (max-width: 670px) {
    .fkNav {
        height: 100px;
    }
}

@media screen and (max-width: 991px) {
    .fd-colunn {
        flex-direction: column;
    }
    img.cardImg {
        width: 100%!important;
    }
}

.Navbar_brand {
    color: white;
    text-decoration: none;
    transition: 300ms;
}
.Navbar_brand:hover {
    color: white;
    text-shadow: 0 0 20px #005de8 ;
}